# Report 17/06/2019

## Plan
 1. Context
 2. Current situation
 3. Methods
 4. Results

---

## I. Context
 - **Initial goal** : categorize pixel in cloud or not cloud pixels.
 - **How**: throw 13 different methods (10 based on difference between the image and non cloud ground - 3 ready to use decision trees). 
 - **Dataset** : public dataset ([repo](https://gitext.gfz-potsdam.de/EnMAP/sentinel2_manual_classification_clouds)) answering the question if a pixel is a cloud or not.
 - **Goal of the report**: build a robust cloud detection model based and our set of methods
 
## II. Current situation

 - **Methods processing**: the main buggs present in our methods has been fixed 
   - Not sqare image : all the image haven't the same shape (solved by adding a common area criteria)
   - Duplicated images : some images have been sampled at the same date but prodided at different dates. As result, there are duplicated image with different ids (solved by filtering the sample date and distribution date)
   - Full mask bands : some extra bands are always empty (QA10 - QA20) (solved by ignoring those problematic bands)

 - After processing all those images, the methods still fail on some pixels. That lead use to remove :
    - Training set : 3036 pixels from the 200 000 as input (1.5%)
    - Evaluation dataset: 924 pixels from the 60 000 as input (1.5%)
   The final valid datset in composed by 196964 samples and the evaluation dataset by 59076 pixels.
   
   The dataset looks like this:

In [5]:
# Load module
import pandas as pd
# Load training - evaluation dataset
training = pd.read_excel("Data/results.xlsx", sheetname="Training")
evaluation = pd.read_excel("Data/results.xlsx", sheetname="Evaluation")

# Create whole dataset
data = training.append(evaluation)
data.head()

,cloud,id_GEE,index,latitude,longitude,percentile1,percentile2,percentile3,percentile4,percentile5,persistence1,persistence2,persistence3,persistence4,persistence5,tree1,tree2,tree3
0,True,COPERNICUS/S2/20151203T105422_20151203T105811_...,0,38.065710,-0.786016,0,0,0,0,0,0,1,0,1,0,0,0,0
1,False,COPERNICUS/S2/20151203T105422_20151203T105811_...,1,38.349942,-1.563068,0,0,0,0,0,0,1,0,1,0,0,0,0
2,False,COPERNICUS/S2/20151203T105422_20151203T105811_...,2,37.994208,-1.775253,0,0,0,0,0,0,1,0,1,0,0,0,0
3,False,COPERNICUS/S2/20151203T105422_20151203T105811_...,3,38.725824,-0.892539,0,0,0,0,0,0,1,0,1,0,0,0,0
4,False,COPERNICUS/S2/20151203T105422_20151203T105811_...,4,38.025237,-0.878142,0,0,0,0,0,0,1,0,1,0,0,0,0

Let see the repartition of the differents columns:

In [14]:
# Keep usefull columns
data = data[["cloud"] + list(data.columns[5:])]
data.head()

,cloud,percentile1,percentile2,percentile3,percentile4,percentile5,persistence1,persistence2,persistence3,persistence4,persistence5,tree1,tree2,tree3
0,1,0,0,0,0,0,0,1,0,1,0,0,0,0
1,0,0,0,0,0,0,0,1,0,1,0,0,0,0
2,0,0,0,0,0,0,0,1,0,1,0,0,0,0
3,0,0,0,0,0,0,0,1,0,1,0,0,0,0
4,0,0,0,0,0,0,0,1,0,1,0,0,0,0